* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    color: white;
}

.content {
    display: grid;
    grid-template-areas: "nav section" "footer footer";
    grid-template-columns: 1fr 4fr;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    background-color: #8d9c09;
}

.material-symbols-outlined {
    display: none !important;
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 4em;
}

select {
    color: #515151;
    background-color: #FFF;
    min-width: 80rem;
}

option {
    color: #515151;
}

section div {
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: footer;
    background-color: #f1a20b;
    padding: 1em;
    text-align: center;
}

td {
    color: #515151;
    border: 1px solid #515151;
    padding: 5px 10px;
}

h1 {
    font-size: 40px;
    color: black;
}

h2 {
    color: #515151;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.gatito {
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    transition-duration: 2000ms;
}

.gatito:hover {
    -webkit-filter: grayscale(0%);
}

ul {
    list-style-type: none;
}

p {
    color: #515151;
    font-size: 20px;
    text-align: justify;
}

.rsss {
    display: inline-flex;
    gap: 20px;
    font-size: 1.5em;
}

@media (max-width: 576px) {
    .content {
        display: grid;
        grid-template-areas: "nav nav" "section section" "footer footer";
    }
    nav {
        display: flex;
        flex-direction: row;
        padding: 1em;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
    }
}

ul {
    display: none;
}

.material-symbols-outlined {
    display: inline-block !important;
}

h1 {
    font-size: 2em;
}

section {
    grid-template-columns: auto;
    padding: 1em;
}

.gatito {
    max-height: 80vh;
}

footer {
    padding: 1em;
}


}